<div [formGroup]="parentFormGroup" [ngClass]="{
  'invalid': showErrors && parentFormGroup.controls[data.name].invalid,
  'control-dirty': true && !isFocused && parentFormGroup.controls[this.data.name].dirty
}">
  <!-- <kendo-textbox-container floatingLabel="{{data.label}}"> -->
    <label [for]="data.name">{{data.label}}</label>
    <input
    autocomplete="off"
    [type]="data.type"
    [maxlength]="data.maxLength"
    [placeholder]="data.placeholder" 
    [formControlName]="data.name"
      (focusout)="onFocusOut()"
      (focus)="onFocus()" />
  <!-- </kendo-textbox-container> -->
  <div *ngIf=" showErrors && parentFormGroup.controls[data.name].invalid ">
  {{formControlErrorMessage[data.name]}}
  </div>
</div>