<div class="customer-details">
    <div class="row">
        <span class="col-md-1">
            <label for="">Customer ID</label>
            <div>{{customer.id}}</div>
        </span>
        <span class="col-md-2">
            <label for="">Lastname</label>
            <div>{{customer.lastname}}</div>
        </span>
        <span class="col-md-2">
            <label for="">Firstname</label>
            <div>{{customer.firstname}}</div>
        </span> <span class="col-md-2">
            <label for="">Gender</label>
            <div>{{customer.gender}}</div>
        </span>
        <span class="col-md-3">
            <label for="">Date of birth</label>
            <div>{{customer.dateOfBirth}}</div>
        </span>
    </div>
    <h5 style="margin-bottom: 0px">{{customer.firstname}}'s contact details</h5>
    <div class="row">
       
        <span class="col-md-4">
            <label for="">Email</label>
            <div>{{customer.email}}</div>
        </span>
        <span class="col-md-4">
            <label for="">Cellphone number</label>
            <div>{{customer.cellphonNumber}}</div>
        </span>
    </div>

</div>