<div *ngIf="productWrapper && (openFormId == -1 || openFormId == itemId)" class="view-all-products row">
    <div class="product-image col-md-3">
        <label for="">PRODUCT IMAGE</label>
        <div class="row" style="height: 120px;width: 100%;margin-left: 2px;padding: 1.5px;border: solid 0.5px #88888888">
            <img *ngIf="productWrapper.productImage" [src]="productWrapper.productImage" alt="" height="115px" width="100%">
        </div>
    </div>
    <div class="product-details col-md-7">
        <div class="row">
            <div class="col-md-6">
                <label for="">PRODUCT ID</label>
                <div class="values" id="">{{productWrapper.product.id}}</div>
            </div>
            <div class="col-md-6">
                <label for="">PRODUCT NAME</label>
                <div class="values" id="">{{productWrapper.product.productName}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="">PRODUCT CATEGORY</label>
                <div class="values" id="">{{productWrapper.product.category}}</div>
            </div>
            <div class="col-md-6">
                <label for="">PRODUCT DESCRIPTION</label>
                <div class="values" id="">{{productWrapper.product.productDesc}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="">PRODUCT PRICE</label>
                <div class="values" id="">R {{productWrapper.product.price | number :'1.2-2'}}</div>
            </div>
            <div class="col-md-6">
                <label for="">PRODUCT QUANTITY</label>
                <div class="values" id="">{{productWrapper.product.quantity}}</div>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <label for="">Actions</label>
        <span (click)="editProductDetails()" style="cursor: pointer;margin-right: 8px;font-size: 25px" mat-raised-button [title]="!editDetailsStatus ? 'Edit and Update product details' : 'Close'" aria-label="Button that displays a tooltip in various positions">
            <i class="fa {{editDetailsStatus ? 'fa-close' : 'fa-edit'}}"></i>
        </span>
        <span (click)="openRemoveProductConfirmation()" style="cursor: pointer;font-size: 25px" mat-raised-button [title]="!removeDetailsStatus ? 'Delete this product on the database' : 'Close'" aria-label="Button that displays a tooltip in various positions">
            <i class="fa {{removeDetailsStatus ? 'fa-close' : 'fa-trash'}}"></i>
        </span>
    </div>
</div>
<div class="row" style="    margin: auto;width: 95%;" *ngIf="editDetailsStatus" >
        <h4>Edit and Update product details</h4>
        <hr style="margin-left: 0px;">
        <add-product-form (outActionEvent)="processChildEvent($event)" [originatorId]="2" [product]="productWrapper.product" [updateDetails]="true"></add-product-form>
</div>
<div class="row" style="    margin: auto;width: 95%;" *ngIf="removeDetailsStatus" >
        <h4>Remove product from database</h4>
        <hr style="margin-left: 0px;">
        <div class="warning">
            Please note this action cannot be undone. <br>
            You can continue with this action if you are sure of what you are doing.
        </div>
        <br>
        <div style="margin: auto;width: 50%;">
            <button autofocus="true" class="btn  btn-light" style="width: 100%; height: 40px;" (click)="onRemoveProductClick(productWrapper.product.id)">
                        <span class="fa fa-trash"></span> Delete product
            </button>
        </div>
        <br>
</div>