.top-nav{
    top: 0;
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: #888888 1px 1px 10px;
    color: white;
    position: fixed;
    z-index: 2000;
}

.top-nav-actions{
    float: right;
    margin-right: 9px;
    line-height: 4;

}

.top-nav-actions .act{
    margin-left: 10px;
    cursor: pointer;
}
