<!-- <div class="home">
    <div class="action">
        <span class="fa fa-product-hunt"></span>
        <hr>
        <label for="">Manage Products</label>
    </div>
</div> -->

<div class="home">
    <div class="page-header">
        <h3>Welcome to bakery administration portal</h3>
    </div>

    <div class="side-nav col-md-3">
        <div class="nav-item">
            <span id="title" (click)="expandNavItem('id1')">
                <i class="fa fa-gears"></i> Manage products
                <span class="fa {{navItems[0].status ? 'fa-chevron-up' : 'fa-chevron-down'}} chevron-area"></span>
            </span>
            <hr *ngIf="navItems[0].status">
            <div *ngIf="navItems[0].status" class="sub-nav-item">
                <span [ngClass]="{'active': isCHP}" (click)="processAction('isCHP')"> <i class="fa fa-home"></i> CHP
                    products</span>
                <span [ngClass]="{'active': isAddNewProduct}" (click)="processAction('isAddNewProduct')"> <i class="fa fa-plus-circle"></i>
                    Add new product</span>
                <span [ngClass]="{'active': isAllShopProducts}" (click)="processAction('isAllShopProducts')"> <i class="fa fa-eye"></i>
                    View shop products</span>
            </div>
        </div>
        <div class="nav-item">
            <span id="title" (click)="expandNavItem('id2')">
                <i class="fa fa-gears"></i> Manage orders <span class="fa {{navItems[1].status ? 'fa-chevron-up' : 'fa-chevron-down'}} chevron-area"></span>
            </span>
            <hr *ngIf="navItems[1].status">
            <div *ngIf="navItems[1].status" class="sub-nav-item">
                <span [ngClass]="{'active': isAllOrders}" (click)="processAction('isAllOrders')"> <i class="fa fa-eye"></i>
                    View all orders</span>
            </div>
        </div>
        <div class="nav-item">
            <span id="title" (click)="expandNavItem('id3')">
                <i class="fa fa-gears"></i> Manage customers <span class="fa {{navItems[2].status ? 'fa-chevron-up' : 'fa-chevron-down'}} chevron-area"></span>
            </span>
            <hr *ngIf="navItems[2].status">
            <div *ngIf="navItems[2].status" class="sub-nav-item">
                <span [ngClass]="{'active': isAllRegisteredCustomer}" (click)="processAction('isAllRegisteredCustomer')"><i
                        class="fa fa-eye"></i> View all customers</span>
            </div>
        </div>

    </div>
    <!-- Add new product -->
    <div [hidden]="!isAddNewProduct" class="administration-area col-md-8">
        <h4> <i class="fa fa-plus-circle"></i> Add new product</h4>
        <hr style="margin-top: 0px">
        <add-product-form></add-product-form>
    </div>

    <!-- Manage customer web home page products -->
    <div *ngIf="isCHP" class="administration-area col-md-8">
        <h4> <i class="fa fa-plus-circle"></i> Manage customer home page products</h4>
        <hr style="margin-top: 0px">
        <div>

        </div>
    </div>

    <div *ngIf="isAllShopProducts" class="administration-area col-md-8">
        <h4> <i class="fa fa-eye"></i> View all shop products</h4>
        <hr style="margin-top: 0px">
        <view-shop-product 
        [productWrapper]="productWrapper" 
        [formOpenningEvent]="formOpenningEvent" 
        [openFormId]="openFormId"
        [itemId]="i"
         *ngFor="let productWrapper of products; let i = index"></view-shop-product>
    </div>

    <div *ngIf="isAllRegisteredCustomer" class="administration-area col-md-8">
        <h4> <i class="fa fa-plus-circle"></i> View all registered customers</h4>
        <hr style="margin-top: 0px">
        <div>

        </div>
    </div>

    <div *ngIf="isAllOrders" class="administration-area col-md-8">
        <h4> <i class="fa fa-plus-circle"></i> View all customer orders</h4>
        <hr style="margin-top: 0px">
        <div>

        </div>
    </div>

</div>