.home{
    padding: 5px 0px;
    min-height: 632px;

}
.action{
    width: 150px;
    height: 150px;
    border: solid 0.5px #888888;
    background-color: rgba(255, 87, 51, 0.2);
    border-radius: 3px;
    cursor: pointer;
    position: fixed;
}

.side-nav{
    /* width: 205px; */
    min-height: 82px;
    border: solid 0.5px #888888;
    position: sticky;
    top: 137px;
    background-color: rgba(250, 248, 248, 0.93);
}
.administration-area{
    border: 1px solid #eee;
    float: right;
    margin-bottom: 20px;
    width: 73%;
}

.side-nav .nav-item{
    padding: 5px;
    min-height: 41px;
    line-height: 2;
}
.side-nav .nav-item hr{
    margin-top: 0px;
    margin-bottom: 2px;
}

.side-nav .nav-item #title{
    font-weight: 600;
}

.side-nav .nav-item #title:hover{
    cursor: pointer;
}

.side-nav .nav-item:not(:last-child){
    border-bottom: dotted 0.5px #888888
}

.chevron-area{
    float: right;
    font-size: 10px;
    color: #8888;
    margin-top: 9px;

}

.sub-nav-item {
    margin-left: 5px;
}

.sub-nav-item span{
    display: block;
    
}

.sub-nav-item span:hover{
    cursor: pointer;
    background-color: #888888;
    color: white;
    border-radius: 2px;
    padding: 2px;
}

.sub-nav-item .active{
    cursor: pointer;
    background-color: #888888;
    color: white;
    border-radius: 2px;
    padding: 2px;
}

i{
    width: 23px;
}

.page-header{
    padding: 20px 12px;
    /* line-height: 9; */
    position: -webkit-sticky;
    position: sticky;
    top: 62px;
    margin-bottom: 30px;
    border: solid 1px #88888888;
    height: 70px;
    z-index: 5;
    background-color: rgba(250, 248, 248, 0.93);
}

.page-header h3{
    margin: 0px;
}
